@charset 'utf-8';
/* 
    Created on : 14/05/2019, 12:53:47 PM
    Author     : JJFUENTES
*/
*{
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
            
details.cerrado summary{
    display: block;
    margin: 10px 0px;
                
}
            
details.abierto{
                
    display: block;
    margin: 10px 0px;
    border: solid 1px;
}